@model WebApp.Models.ClienteViewModel

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-text">
                Pagina Principal >> Cadastro de Cliente
            </span>
        </div>
    </nav>


    <div class="container">
        <form asp-action="Novo">
            <div class="card">
                <h5 class="card-header text-center">Formulário</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-xs-4">
                            <label asp-for="Nome" class="form-label"></label>
                            <input type="text" asp-for="Nome" class="form-control" placeholder="Nome">
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 col-xs-4">
                            <label asp-for="Cpf" class="form-label"></label>
                            <input type="text" asp-for="Cpf" class="form-control" placeholder="Ex. 000.000.000-00">
                            <span asp-validation-for="Cpf" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 col-xs-4">
                            <label asp-for="DataDeNascimento" class="form-label"></label>
                            <input type="date" asp-for="DataDeNascimento" class="form-control" />
                            <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-4">
                            <label asp-for="Endereco" class="form-label"></label>
                            <input type="text" asp-for="Endereco" class="form-control" placeholder="Rua, n°">
                            <span asp-validation-for="Endereco" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 col-xs-4">
                            <label asp-for="Bairro" class="form-label"></label>
                            <input type="text" asp-for="Bairro" class="form-control" placeholder="Bairro">
                            <span asp-validation-for="Bairro" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="Sexo"></label>
                            <select asp-for="Sexo" class="form-control">
                                <option></option>
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Outros">Outros</option>
                            </select>
                            <span asp-validation-for="Sexo" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 col-xs-4">
                            <label asp-for="Telefone" class="form-label"></label>
                            <input type="text" asp-for="Telefone" class="form-control" placeholder="(99) 9 9999-9999">
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar</a>
                        </div>
                        <div class="col-4 text-center">
                            <input class="btn btn-secondary" type="reset" value="Resetar">
                        </div>
                        <div class="col-4 text-right">
                            <input type="submit" class="btn btn-secondary" value="Gravar" id="btnGravar" />
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    @section Scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }